footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  padding: 4rem 2rem;
}

/* Titre  */

footer h1 {
  font-size: 20px;
  color: var(--white);
  font-family: var(--title);
}

/* Liste */

footer .links-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 3rem 0;
}

footer .links-box ul {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
}

footer .links-box ul li {
  margin: 0 0.5rem;
}

/* Première liste */

footer .links-box ul:first-child li a {
  font-size: 14px;
  cursor: pointer;
  font-family: var(--subtitle);
  color: var(--white);
  opacity: 0.8;
}

footer .links-box ul:first-child li a:hover {
  text-decoration: underline;
  opacity: 1;
}

/* Deuxième liste */

footer .links-box ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  font-family: var(--subtitle);
  font-size: 16px;
  border: 2px solid var(--green);
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

footer .links-box ul:last-child li a:hover {
  opacity: 0.5;
}

/* Sous-titre */

footer h2 {
  font-size: 12px;
  opacity: 0.7;
  color: var(--white);
  font-family: var(--normal);
  text-align: center;
}
