html 
  head
    style
      include ../style/footer.css
  body
    footer
      h1 Leshy.com
      ul
        li
          a Exemple
        li 
          a Exemple
        li 
          a Exemple
      ul 
        li
            a Exemple
        li 
          a Exemple
        li 
          a Exemple
      h2 Copyrigth